

.a{
	background:transparent;
 position:fixed;
 z-index:-1;
 margin:0 auto;
 background-color:green;
 left-side:10px;
	margin-left: -10px;
margin-top:-40px;
	height:90px;
	width:100%;
}

h1{
	margin-left: 10px;
	margin-top:15px;
	position:relative;top:12px;
	z-index:-1;
	
}
h2{
	color:black;
	margin-left: 1000px;
	margin-top:1px;
	position:relative;top:-54px;left:10px;
	z-index=2;
	border-right-color: black;
	border-right-width: 10px;
	
	
}

.otherPage {
    color: black;
    border: 1px solid black;
	display: inline-block;
	 padding: 10px 20px;
	 position:relative;top:50px;left:2%;
}
.otherPag {
    color: black;
    border: 1px solid black;
	display: inline-block;
	 padding: 10px 20px;
	  position:relative;top:50px;left:2%;
}

